.App {
	height: 100vh;
	background-color: #000000;
	overflow: hidden;
	text-align: center;

	background-image: url(../assets/colors.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.container {
	height: 100%;
	background-color: #1366cb;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.header-container {
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #8d0eb8;
}

.header {
	margin: 50px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 50px;
	font-weight: bold;
	color: rgb(255, 255, 255);
}

.sub-text {
	font-size: 25px;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
}

.gradient-text {
	background: -webkit-linear-gradient(left, #60c657 30%, #35aee2 60%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.cta-button {
	display: inline-block;
	border: 1px solid white;
	height: 35px;
	width: 175px;
	border-radius: 15px;
	box-sizing: border-box;
	padding: 0 20px;
	font-weight: 500;
	text-decoration: none;
	font-size: 9px;
	text-transform: uppercase;
	letter-spacing: 1.33px;
	line-height: 28px;
	text-align: center;
	cursor: pointer;
	outline: none;
	font-family: sans-serif;
	transition: all 0.1 ease-out;
}
.cta-button:hover {
	background: none;
	color: white;
}

.opensea-button {
	background-color: rgb(32, 129, 226);
}

.mint-count {
	color: white;
	font-size: 18px;
	font-weight: bold;
}

.footer-container {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 30px;
}

.hedera-logo {
	width: 428px;
	height: 138px;
}

.footer-text {
	color: white;
	font-size: 16px;
	font-weight: bold;
}

/* KeyFrames */
@-webkit-keyframes gradient-animation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@-moz-keyframes gradient-animation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@keyframes gradient-animation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
